* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.app__header {
  flex: 1 1 auto;
  height: 80px;
  padding: 12px 4px 10px 12px;
  box-sizing: border-box;
  align-items: center;
}
