* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.app {
  /* display: flex; */
  background-color: pink;
}

.app__header {
  flex: 1 1 auto;
  background-color: pink;
  padding: 12px 4px 4px 16px;
  box-sizing: border-box;
  align-items: center;
}
